@import "src/app/pantallas/vista-picking-list/vista-picking-list.component";
/*
//picking-list-css
@import "src/app/pantallas/generacion-picking-list/generacion-picking-list.component";
@import "src/app/pantallas/vista-picking-list/vista-picking-list.component";
h1 {
  white-space: pre-wrap;
  line-height : 60px;
}

.go-back-container button{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #808080;
  width: 150px;
  //Todo add image and hoverable
}*/
