.nav-bar-button {
  margin-left: 30px
}

.nav-bar-title {
  margin-left: 15px;
}

.mat-toolbar {
  background-color: #00cccc;
  color: white;
}

img{
  position: absolute;
  right: 50px;
  width: 50px;
}
