@import "src/app/pantallas/generacion-picking-list/generacion-picking-list.component";
@import "src/app/pantallas/impresion-etiquetas/impresion-etiquetas.component";
h1 {
  white-space: pre-wrap;
  line-height : 70px;
}

.go-back-container button{
  position: absolute;
  right: 4%;
  top: 57px;
  background-color: #9fa5ab;
  width: auto;
  text-align: center;
  font-size: 15px;
  //Todo add image and hoverable
}
