@import "src/app/pantallas/impresion-etiquetas/impresion-etiquetas.component";

.print-tags-container > button {
  width: 300px;
}

label {
  display: inline-block;
  width: 10em;
  margin-right: .5em;
}





