.mat-dialog-title{
  font-size: 35px;
  line-height: 1.2;
}

h1{
  font-size: 50px;
  line-height: 50px;
}

.mat-dialog-actions button{
  width: 90%;
  margin:0 auto;
  display:block;
  color: #00cccc;
}

p{
  text-align: center;
  font-size: 30px;
  color: #bbbbbb;
}

#accept-dialog-modal{
  width: 600px;
}

.image-container {
  text-align: center;
}
img{
  size: 200px;
  width: 200px;

}

.dialog-with-img-h1{
  margin: 50px 10px 0;

}



